{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading -->
        <h1 class="mt-4 mb-3">Category</h1>

        <div class="row">
            <div class="col-md-8">
                <img class="img-fluid rounded mb-3 mb-md-0"{%- if category.picture|length > 0 -%} src="{{ asset( imgPath ~ category.picture) }}"
                {%- else -%} src="http://placehold.it/750x500" {%- endif %} alt="">
            </div>

            <div class="col-md-4">
                <h3 class="my-3">{{ category.name|raw }}</h3>
                <p>{{ category.description|raw }}</p>
            </div>

        </div>
    </div>
    <br>

{% endblock %}