{% extends 'base.html.twig' %}

{% form_theme form 'form/theme_fields_form.html.twig' %}

{% block title %}New category{% endblock %}

{% block body %}

    <!-- Page Content -->
    <div class="container">

        <h1 class="my-4 mb-3">Create new category</h1>

        <div class="row col-md-12">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

        </div>

    </div>
    <br>
    <br>
{% endblock %}

{% block javascript %}
<script src="{{ asset('js/generateThumbnail.js') }}"></script>
{% endblock %}